---
---
<article class="bg-[#fff] flex flex-col justify-center items-start p-8 gap-4 text-primary-vDarkBlue rounded-md shadow-[0px_10px_1px_rgba(221,_221,_221,_1),_0_10px_20px_rgba(204,_204,_204,_1)]" >
  <img src="../../public/images/icon-quotes.svg" alt="this is the quotes image">
  <p class="text-balance max-w-[40ch]">
    Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine. 
  </p>
  <div class="flex flex-row justify-start items-center gap-4 ">
    <img class="rounded-full w-12" src="../../public/images/avatar-testimonial.jpg" alt="Image of Kyle Burton, Founder And CEO, HUDDLE">
    <div class="flex flex-col justify-center items-start">
      <h3 class="font-bold">Kyle Burton </h3>
      <h4>Founder & CEO, Huddle </h4>
    </div>
  </div>
</article>