---
const {icon, contact} = Astro.props
---
<div class="flex flex-row justify-start items-center text-neutral-whiteBlue text-4 gap-3">
  <img src={icon} alt="this is the icon medium of contact">
  <strong> {contact} </strong>

</div>