---
import ContactMedium from "./ContactMedium.astro";
import Logo from "./icons/Logo.astro"
import Facebook from "./icons/Facebook.astro"
import Tweeter from "./icons/Tweeter.astro"
import Instagram from "./icons/Instagram.astro"
import Phone from "../images/icon-phone.svg"
import Email from "../images/icon-email.svg"
---
<footer class="bg-primary-vDarkBlue flex flex-col justify-center items-start px-8 py-8 text-neutral-whiteBlue text-4 gap-6 sm:flex-row sm:justify-center sm:items-center">
  <header class="flex flex-col justify-between items-start gap-4 sm:p-4">
    <Logo colorBox="#f6f6fe" colorLetters="#f6f6fe" />
    <ContactMedium icon={Phone.src} contact="Phone: +1-543-123-4567" />
    <ContactMedium icon={Email.src} contact="example@fylo.com" />
  </header>
  <main class="flex flex-col justify-between items-start text-8 gap-8 font-thin sm:flex-row sm:w-1/2 sm:justify-evenly sm: flex-shrink-0">
    <div class="flex flex-col gap-3">
      <strong>About Us</strong>
      <strong>Jobs</strong>
      <strong>Press</strong>
      <strong>Blog</strong>
    </div>
    <div class="flex flex-col gap-3">
      <strong>Contact Us</strong>
      <strong>Terms</strong>
      <strong>Privacity</strong>
    </div>
  </main>
  <footer class="flex flex-row w-full justify-center items-center gap-6 text-center sm:items-center">
    <div class="boder-solid rounded-full border-neutral-whiteBlue border-2 p-2 flex justify-center items-center ">
      <Facebook class="w-5 h-5 " />
    </div>
    <div class="boder-solid rounded-full border-neutral-whiteBlue border-2 p-2 flex justify-center items-center ">
      <Tweeter class="w-4 h-4"  />
    </div>
    <div class="boder-solid rounded-full border-neutral-whiteBlue border-2 p-2 flex justify-center items-center">
      <Instagram class="w-4 h-4"  />
    </div>
  </footer>
</footer>