---
const { img } = Astro.props 
const classNames = Astro.props.class
---
<section class={`flex flex-col-reverse justify-center items-center grid-cols-1 sm:grid sm:grid-cols-2 w-full ${classNames}`}>
  <main class="flex flex-col gap-4 justify-center items-center sm:items-start ">
    <slot name="title" />
    <slot name="paragraph" />
    <slot name="content" />
  </main>
  <aside>
    <img src={img} alt="this is the ilustration">
  </aside>
</section>